.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.3fr 1fr 0.2fr / 1fr 1fr;
  gap: 25px;
  box-sizing: border-box;
}

body {
  background: url(/images/background_image_2.gif);
}

.App div {
  padding: 10px;
  margin: 10px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  grid-column: 1 / span 2;
  text-align: center;
}

.left-column {
  grid-column: 1 / span 1;
  text-align: center;
  background: white;
  opacity: 0.55;
}

.right-column {
  grid-column: 2 / span 1;
  text-align: center;
}

.footer {
  grid-column: 1 / span 2;
  text-align: center;
}