*, *::before *::after {

}

.App {
  position: relative;
  height: 100vh;
}

body {
  background: url(/images/background_image_2.gif);
}

.App div {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
}

.header {
  text-align: center;
}

.left-column {
  position: relative;
  top: 20px;
  left: 345px;
  width: 700px;
  height: 500px;
}
.left-column h2 {
  text-align: center;
}